html, body {
  font-family: 'Lato';
  height: 100%;
}
* {
  box-sizing: border-box;
}
nav {
  position: sticky;
  top:0;
  width: 100%;
  overflow: auto;
  z-index: 100%;
} 

#justName {
    font-size: 30px;
}
li {
    font-size: 20px;
}
section {
  min-height: 110vh;
  padding: 6rem 0;
  margin: 6rem;
}
section h2 {
  font-size: 3rem;
  line-height: 2rem;
}
#about {
  padding: 10% 0 0 0;
  margin: auto;
  /* background-color: #f44242; */
}
.portfolio {
  margin: auto;
  background: #d0dcef;
}

.parallax {
  background-image: url("../images/jeju.jpg");
  height: 100%;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}