html, body {
  font-family: 'Lato';
  height: 100%;
}
* {
  box-sizing: border-box;
}
nav {
  position: sticky;
  top:0;
  width: 100%;
  overflow: auto;
  z-index: 100%;
} 

#justName {
    font-size: 30px;
}
li {
    font-size: 20px;
}
section {
  min-height: 110vh;
  padding: 6rem 0;
  margin: 6rem;
}
section h2 {
  font-size: 3rem;
  line-height: 2rem;
}
#about {
  padding: 10% 0 0 0;
  margin: auto;
  /* background-color: #f44242; */
}
.portfolio {
  margin: auto;
  background: #d0dcef;
}

.parallax {
  background-image: url("../images/jeju.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.parallax1 {
  background-image: url("../images/homeOffice.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#navBar {
  background-color: transparent;
  border-color: transparent;
  color: white;
}
.navbar-brand {
  color: blue;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #42DCA3;
}
a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}
.navbar-shrink {
  
}

.d1 {
  margin-top: 100px;
}
.d2 {
  margin-top: 200px;
}